

*{
    box-sizing: border-box;
}
div#wrapper{
    margin: auto;
    width: 1000px;
    background-color: rgb(251,235,235);
    padding: 20px;
}
body{
   font-family:"Arial", "sans-serif";
}
nav{
    width: 960px;
    padding: 20px;

}
nav a{
 margin-right: 20px;
}

section.appel, section.visuals{
    width: 50%;
    float: left;
}

section.visuals{
    text-align: right;
}

section.appel img, section.visuals img {

}
section.artikelen{
    clear: both;

}
img.appel {
    width: 450px;
}

img.visual{
    width: 450px;
    margin-bottom: 10px;
}

img.burton_logo{
    width: 300px;
    height: 34px;
}






